*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#theme-button {
  padding: 5px 4px;
  border-radius: 8px;
  border: none;
  background-color: var(--big-button-color);
  color: var(--button-text-color);
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: inset -2px 0 2px rgba(0, 0, 0, 0.1),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  gap: 10px;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background: var(--button-bg);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: var(--button-text-color);
}

.calculator-grid button:hover,
.calculator-grid button:focus {
  filter: brightness(1.2);
}

.span-two {
  grid-column: span 2;
}

#clear {
  background: var(--big-button-color);
  font-weight: bold;
}

#equal {
  background: var(--big-button-color);
  font-weight: bold;
}

.output {
  grid-column: 1 / -1;
  border-radius: 4px;
  background-color: var(--output-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: var(--output-text-color);
  font-size: 2rem;
  font-weight: bold;
}
.output .current-operand {
  color: var(--output-text-color);
  font-size: 2rem;
  font-weight: 600;
}

#light-and-dark {
  width: 20%;
  height: 20px;
  margin: 5px;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
