label {
  margin-bottom: 20px;
}

#checkbox {
  visibility: hidden;
  display: none;
}
.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: #202020;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in 0.5s;
}

#checkbox:checked ~ .check {
  background: #d2d6ea;
}
.check::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #d2d6ea;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}
#checkbox:checked ~ .check:before {
  transform: translate(-50px);
}

.check::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #202020;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translate(50px);
}
#checkbox:checked ~ .check::after {
  transform: translate(0px);
}
